.logo {
  display: flex;
  padding: 0.3125rem 0;
}

header {
  position: fixed;

  #hamburger-menu {
    margin-right: 24px;
  }

  a.btn.btn-primary {
    margin-left: auto;
  }

  #hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 2.5px;
    .bars {
      width: 25px;
      height: 2px;
      background: var(--color-light);
    }
  }

  .box-nav {
    .logo {
      margin-right: 16px;
    }

    .main-menu {
      display: none;
    }
  }

  > a.btn.btn-secondary {
    display: none;
  }

  > a.btn.btn-primary {
    margin-left: auto;
  }
}

main {
  .box-plan {
    padding: 0 15px;
    > h2.title.title-plan {
      font-weight: 500;
      font-size: 1.4rem;
    }

    .msg-plan {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
    }

    .togle-btn {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      background: rgba(255, 255, 255, 0.15);
      max-width: max-content;
      margin: 1.3rem auto 1.8rem auto;
      padding: 4px;
      border-radius: 100px;
      position: relative;

      /* border: 1px solid red; */
      > label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6px;
        width: 112px;
        /* border: 1px solid yellowgreen; */
        border-radius: 100px;
        align-self: stretch;
        transition: 0.6s;
        cursor: pointer;
      }

      > label:hover {
        background: var(--shadow-hover);
      }
    }

    .togle-btn::before {
      content: "";
      display: inline-block;
      width: 112px;
      height: 48px;
      border-radius: 100px;
      position: absolute;
      left: 4px;
      background: var(--color-light);
      position: absolute;
      transition: 0.3s;
    }

    .all-plans {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 9px;

      .cards-plan {
        background: var(--color-light);
        color: var(--bg-main-hbo);
        padding: 1.25rem 1.5rem;
        border-radius: 4.5px;
        width: 100%;

        > h3 {
          font-weight: 500;
          border-bottom: var(--line-color);
          padding-bottom: 6px;
        }

        > h4 {
          font-family: "Lato";
          font-weight: 900;
          font-size: 30px;
          text-align: center;
          margin-top: 10px;

          > em {
            color: var(--reduce-color);
            font-family: Poppins;
            font-style: normal;
            font-size: 13px;
            font-weight: 400;
            letter-spacing: 1.4px;
            line-height: 100%;
          }

          > em::before {
            content: "/";
            font-size: 8px;
            font-weight: 600;
            position: relative;
            bottom: 1px;
          }
        }

        .sub-title {
          text-align: center;
          font-weight: 300;
          margin-top: 8px;
        }

        > ul {
          list-style: none;
          margin-top: 2rem;

          li {
            font-size: 13px;
            font-weight: 400;
            line-height: 180%;
            position: relative;
            padding-left: 30px;
            strong {
              font-weight: 600;
            }
          }

          li::before {
            font-family: "Font Awesome 6 Free";
            font-style: normal;
            font-weight: 600;
            font-display: block;
            color: var(--reduce-color);
            position: absolute;
            left: 0;
          }
        }

        > .btn-aux {
          margin-top: 20px;
        }
      }
    }

    #monthly-plan:checked,
    #annual-plan:checked {
      + .all-plans {
        display: flex;
      }
    }

    .area-plans:has(#monthly-plan:checked) {
      > .togle-btn {
        label[for="monthly-plan"] {
          color: var(--bg-main-hbo);
          position: relative;
        }
      }
      /* > .togle-btn::before {
        content: "";
        display: inline-block;
        width: 120px;
        height: 48px;
        border-radius: 100px;
        position: absolute;
        left: 4px;
        background: var(--color-light);
        position: absolute;
      }  */
    }

    .area-plans:has(#annual-plan:checked) {
      > .togle-btn {
        label[for="annual-plan"] {
          color: var(--bg-main-hbo);
          position: relative;
        }
      }
      > .togle-btn::before {
        transform: translateX(100%);
      }
    }
  }
}

/** VERIFICAR ESTE BREAK POINT*/
@media (min-width: 1059px) {
  header {
    #hamburger-menu {
      display: none;
    }

    .box-nav {
      display: flex;
      align-items: center;
      .main-menu {
        display: flex;
        > ul {
          list-style: none;
          display: flex;

          a.btn.btn-secondary {
            display: flex;
            font-size: 12.5px;
            letter-spacing: 1px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .box-plan > .area-plans > .all-plans {
    flex-direction: row;
    align-items: stretch;
    margin: auto;
    max-width: 1140px;
  }
}

@media (min-width: 575px) {
  .all-plans > .cards-plan {
    max-width: 510px;
  }
}

@media (min-width: 461px) {
  header {
    > a.btn.btn-secondary {
      display: block;
      margin-left: auto;
    }

    > a.btn.btn-primary {
      margin-left: initial;
    }
  }
}
