.logo {
  display: flex;
  padding: 0.3125rem 0;
}

header {
  position: fixed;

  #hamburger-menu {
    margin-right: 24px;
  }

  a.btn.btn-primary {
    margin-left: auto;
  }

  #hamburger-menu {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 2.5px;
    .bars {
      width: 25px;
      height: 2px;
      background: var(--color-light);
    }
  }

  .box-nav {
    .logo {
      margin-right: 16px;
    }

    .main-menu {
      display: none;
    }
  }

  > a.btn.btn-secondary {
    display: none;
  }

  > a.btn.btn-primary {
    margin-left: auto;
  }
}

main {
  .box-plan {
    padding: 0 15px;
    > h2.title.title-plan {
      font-weight: 500;
      font-size: 1.4rem;
    }

    .msg-plan {
      font-weight: 500;
      font-size: 12px;
      text-transform: uppercase;
    }

    .togle-btn {
      text-transform: uppercase;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      font-weight: 500;
      background: rgba(255, 255, 255, 0.15);
      max-width: max-content;
      margin: auto;
      padding: 4px;
      border-radius: 100px;
      position: relative;

      /* border: 1px solid red; */
      > label {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 6px;
        width: 120px;
        /* border: 1px solid yellowgreen; */
        align-self: stretch;
      }
    }

    .all-plans {
      display: none;
    }

    #monthly-plan:checked,
    #annual-plan:checked {
      + .all-plans {
        display: block;
      }
    }

    .area-plans:has(#monthly-plan:checked) {
      > .togle-btn {
        label[for="monthly-plan"] {
          color: var(--bg-main-hbo);
          position: relative;
        }
      }
      > .togle-btn::before {
        content: "";
        display: inline-block;
        width: 120px;
        height: 48px;
        border-radius: 100px;
        position: absolute;
        left: 4px;
        background: var(--color-light);
        position: absolute;
      }
    }

    .area-plans:has(#annual-plan:checked) {
      > .togle-btn {
        label[for="annual-plan"] {
          color: var(--bg-main-hbo);
          position: relative;
        }
      }
      > .togle-btn::before {
        content: "";
        display: inline-block;
        width: 120px;
        height: 48px;
        border-radius: 100px;
        position: absolute;
        right: 4px;
        background: var(--color-light);
        position: absolute;
      }
    }
  }
}

/** VERIFICAR ESTE BREAK POINT*/
@media (min-width: 1059px) {
  header {
    #hamburger-menu {
      display: none;
    }

    .box-nav {
      display: flex;
      align-items: center;
      .main-menu {
        display: flex;
        > ul {
          list-style: none;
          display: flex;

          a.btn.btn-secondary {
            display: flex;
            font-size: 12.5px;
            letter-spacing: 1px;
            padding: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 461px) {
  header {
    > a.btn.btn-secondary {
      display: block;
      margin-left: auto;
    }

    > a.btn.btn-primary {
      margin-left: initial;
    }
  }
}
